<form [formGroup]="service.form" (submit)="onSubmit()">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <div fxFlex="50">
            <div class="controles-container">
                <input type="hidden" name="$key">
                <mat-form-field>
                    <input formControlName="firstName" matInput placeholder="First Name" required>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="lastName" matInput placeholder="Last Name" required>
                </mat-form-field>
                
                <mat-form-field>
                    <input formControlName="email" matInput placeholder="Email">
                    <mat-error>Invalid Email.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="mobileNo" matInput placeholder="Mobile Number" required>
                </mat-form-field>
                
            </div>    
        </div>
        <div fxFlex="50">
            <div  class="controles-container">
                <mat-form-field>
                    <input formControlName="dob" matInput [matDatepicker]="dobpicker" placeholder="Date of Birth">
                    <mat-datepicker-toggle matSuffix [for]="dobpicker"></mat-datepicker-toggle>
                    <mat-datepicker #dobpicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="registrationDate" matInput [matDatepicker]="picker" placeholder="Registration Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                
                <label id="gender-radio-group-label">Select Gender</label>
                <mat-radio-group aria-label="gender-radio-group-label" formControlName="gender">
                    <mat-radio-button value="1">Male</mat-radio-button>
                    <mat-radio-button value="2">Female</mat-radio-button>
                    <mat-radio-button value="3">Other</mat-radio-button>
                </mat-radio-group>
                
                
                <mat-form-field >
                    <mat-label>Marital Status</mat-label>
                    <select matNativeControl formControlName="maritalStatus" required>
                        <option value="1">Married</option>
                        <option value="2">UnMarried</option>
                    </select>
                </mat-form-field>
                
            </div>
        </div>
        
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <div fxFlex="100">
            <div class="button-row">
                <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
                <button mat-raised-button color="warn" type="reset" (click)="onClear()">Clear</button>
            </div>
        </div>
    </div> 

</form> 